*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
reports/
spec/reports
test/tmp
test/version_tmp
tmp
vendor/bundle
.idea/
*.log
tags
Gemfile.lock
.DS_Store