<section class="action soft-box-shadow">
  <div class="main_module_title"><%= raw content_module.try(:title) %></div>
  <div class="main_module_content"><%= raw content_module.content %></div>
</section>